* {
  margin: 0;
}

h1, h2, p {
  background-color: grey;
}

h1 {
  text-align: center;
}

.headshot {
  border-radius: 50%;
}

#section1 {
  display: grid;
  gap: 1rem;
  grid-template-columns: 75% 25%;

}

.grid-col-span-2 {
  grid-column: span 2;
}
